<!doctype html>
<html>

<head>
    <style>
        body {
            background-color: skyblue;
            text-align: center;
        }

        h1 {
            color: white;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    </style>
</head>

<body>
    <h1>Hi Node App serving HTML IS GOOD AT NODEMON AND
        <%= personDetails %>
    </h1>
</body>

</html>